main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;


    .content {
        width: min(450px, 100%);
    }
}


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.btn-row {
    margin-block: 1em;

    .mat-mdc-button-base {
        margin: 8px 8px 8px 0;
    }
}