/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

html,
body {
    height: 100%;
    font-family: "Signika", sans-serif;
}

body {
    margin: 0;
    font-family: "Yatra One", system-ui;
    background-color: rgba(46, 139, 87, 0.2);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Yatra One", system-ui;
}


main {
    width: min(1440px, 100%);
    margin: auto;
    padding: 2%;
}